<footer>
    <div class="content">
        <h3>Referrals</h3>
        <div>Earn gold or platinum status when you refer your friends to join the club.</div>
        <% if (userId) { %>
        <div class="referrals">
            <div>I just found out who paid 99¢. You could too! #SeeWhoPaid</div>
            <div class="links">
                <a href="https://www.facebook.com/sharer/sharer.php?u=Come%20join%2099%20cents!%20http%3A%2F%2Flocalhost:8080%3FreferralId=<%= userId %>">Share
                    on Facebook</a>
                <a class="twitter-share-button"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?hashtags=demo&text=Come%20join%2099%20cents!&url=http%3A%2F%2Flocalhost:8080%3FreferralId=<%= userId %>">
                    Share on Twitter</a>
            </div>
            <% } %>
        </div>
    </div>
</footer>
</body>
</html>
