<%- include('../template/header'); -%>
<div class="banner">You're in. Welcome to the club.</div>
<div class="content">
    <h2>members</h2>
    <ul>
        <% for (var i = 0; i < allMembers.length; i++) { %>
            <% if (allMembers[i].id === userId) { %>
                <li><%= allMembers[i].firstName %> <%= allMembers[i].lastName %> <span>That's you!</span></li>
            <% } else { %>
                <li><%= allMembers[i].firstName %> <%= allMembers[i].lastName %></li>
            <% } %>
        <% } -%>
    </ul>
</div>
<%- include('footer'); -%>
