@font-face {
  font-family: splice-sans;
  src: url('/assets/fonts/Splice-Regular.woff2') format('woff2'), url('/assets/fonts/Splice-Regular.woff') format('woff');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: splice-sans;
  src: url('/assets/fonts/Splice-ExtraBold.woff2') format('woff2'), url('/assets/fonts/Splice-ExtraBold.woff') format('woff');
  font-weight: 600;
  font-display: block;
}
