@import 'colors';
@import 'spacing';
@import 'fonts';

html,
body {
  height: 100%;
  margin: 0;
  color: $gray-70;
  background: $white;
}

body,
input,
button {
  font-family: 'splice-sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: $spacing-xs;
  display: inline-block;
}

input {
  border: 1px solid $gray-30;
  border-radius: 4px;
  padding: $spacing-sm;
}

button {
  background: $blue;
  color: $white;
  font-weight: bold;
  padding: $spacing-sm;
  border-radius: 40px;
  margin-top: $spacing-md;
  border: none;
  &:disabled,
  &[disabled] {
    background: $gray-10;
    color: $gray-60;
  }
}

h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: 'splice-sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

h2 {
  font-size: 28px;
  color: $gray-90;
}

p {
  font-size: 19px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 75px;
  background: $gray-10;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  div {
    margin: 15px 0;
  }

  .disclaimer {
    color: $gray-30;
    margin-top: 50px;
  }
}

form, .content {
  width: 770px;
  margin: 0 auto;
}

form {
  input {
    width: 100%;
  }

  .row:first-child {
    display: flex;
    justify-content: space-between;

    & > div {
      width: 49%;
    }
  }

  .row {
    margin-bottom: 30px;
    &.disclaimer {
      text-align: center;
    }
  }

  span {
    font-size: 12px;
    color: $gray-60;
    margin-left: 8px;
  }

  button {
    width: 100%;
  }
}

.content {
  ul {
    padding: 0;
    display: flex;
    max-height: 500px;
    flex-direction: column;
    li {
      list-style: none;
      padding: 15px;
      padding-left: 0;
      span {
        font-size: 12px;
        color: $green;
      }
    }
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  &--cents {
    &:before {
      content: '\00A2';
    }
  }
  &--visa-card {
    width: 34px;
    height: 21px;
    background: url('/assets/images/icons/visa-icon.svg');
  }
  &--facebook {
    width: 24px;
    height: 24px;
    background: url('/assets/images/icons/facebook-icon.svg');
  }
  &--twitter {
    width: 24px;
    height: 24px;
    background: url('/assets/images/icons/twitter-icon.svg');
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-30;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $gray-30;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $gray-30;
}

.hero {
  background: url("/assets/images/who-paid-hero.png");
  background-color: $gray-90;
  height: 634px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 19px;
  margin-bottom: 120px;
}

.banner {
  background: $blue;
  color: $white;
  text-align: center;
  margin-top: -120px;
  margin-bottom: 120px;
  font-size: 19px;
  padding: 9px;
}

.referrals {
  background: $white;
  padding: 25px;

  .links {
    border-top: 1px solid $gray-30;
    padding: 15px;
  }
}
