<%- include('template/header'); -%>
<% if (referralId) { %>
    <form method="post" action="/members/create?referralId=<%= referralId%>">
<%} else {%>
    <form method="post" action="/members/create">
<% } %>
    <div class="row">
        <div>
            <label for="firstName">First Name</label><span>Required</span>
            <input type="text" id="firstName" name="firstName" placeholder="Margaret">
        </div>
        <div>
            <label for="lastName">Last Name</label><span>Required</span>
            <input type="text" id="lastName" name="lastName" placeholder="Hamilton">
        </div>
    </div>
    <div class="row disclaimer">
        <span>The following information needs to be real for your payment to be processed.</span>
    </div>
    <div class="row">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="margaret@nasa.gov">
    </div>
    <div class="row">
        <label for="cc">Saved Payment</label>
        <input type="text" id="cc" name="cc" placeholder="XXXX XXXX XXXX XXXX">
    </div>
    <button type="submit">See who paid 99&#162;</button>
</form>
<%- include('template/footer'); -%>
