@font-face {
  font-family: splice-sans;
  src: url("/assets/fonts/Splice-Regular.woff2") format("woff2"), url("/assets/fonts/Splice-Regular.woff") format("woff");
  font-weight: 400;
  font-display: block; }

@font-face {
  font-family: splice-sans;
  src: url("/assets/fonts/Splice-ExtraBold.woff2") format("woff2"), url("/assets/fonts/Splice-ExtraBold.woff") format("woff");
  font-weight: 600;
  font-display: block; }

html,
body {
  height: 100%;
  margin: 0;
  color: #545454;
  background: white; }

body,
input,
button {
  font-family: 'splice-sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.4; }

label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block; }

input {
  border: 1px solid #acacac;
  border-radius: 4px;
  padding: 10px; }

button {
  background: #1d53ff;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 40px;
  margin-top: 20px;
  border: none; }
  button:disabled, button[disabled] {
    background: #f8f8f8;
    color: #777777; }

h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: 'splice-sans', 'Helvetica Neue', sans-serif;
  margin: 0; }

h2 {
  font-size: 28px;
  color: #282828; }

p {
  font-size: 19px;
  font-weight: 400; }

a {
  text-decoration: none; }

footer {
  margin-top: 75px;
  background: #f8f8f8;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px; }
  footer div {
    margin: 15px 0; }
  footer .disclaimer {
    color: #acacac;
    margin-top: 50px; }

form, .content {
  width: 770px;
  margin: 0 auto; }

form input {
  width: 100%; }

form .row:first-child {
  display: flex;
  justify-content: space-between; }
  form .row:first-child > div {
    width: 49%; }

form .row {
  margin-bottom: 30px; }
  form .row.disclaimer {
    text-align: center; }

form span {
  font-size: 12px;
  color: #777777;
  margin-left: 8px; }

form button {
  width: 100%; }

.content ul {
  padding: 0;
  display: flex;
  max-height: 500px;
  flex-direction: column; }
  .content ul li {
    list-style: none;
    padding: 15px;
    padding-left: 0; }
    .content ul li span {
      font-size: 12px;
      color: #3CC354; }

.icon {
  display: inline-block;
  vertical-align: middle; }
  .icon--cents:before {
    content: '\00A2'; }
  .icon--visa-card {
    width: 34px;
    height: 21px;
    background: url("/assets/images/icons/visa-icon.svg"); }
  .icon--facebook {
    width: 24px;
    height: 24px;
    background: url("/assets/images/icons/facebook-icon.svg"); }
  .icon--twitter {
    width: 24px;
    height: 24px;
    background: url("/assets/images/icons/twitter-icon.svg"); }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #acacac; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #acacac; }

.hero {
  background: url("/assets/images/who-paid-hero.png");
  background-color: #282828;
  height: 634px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 19px;
  margin-bottom: 120px; }

.banner {
  background: #1d53ff;
  color: white;
  text-align: center;
  margin-top: -120px;
  margin-bottom: 120px;
  font-size: 19px;
  padding: 9px; }

.referrals {
  background: white;
  padding: 25px; }
  .referrals .links {
    border-top: 1px solid #acacac;
    padding: 15px; }
