<footer>
    <div>
        Your name will be public. Obviously. That's the point. Just use a fake one if you want.
    </div>
    <div>
        Your receipt will be emailed to you.
    </div>
    <div class="disclaimer">
        All sales are final. Please don't sue us. No copyright intended.
    </div>
</footer>
</body>
</html>
